{% extends 'portfolio/base.html' %}

{% block title %}All blogs{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyBlog</title>
</head>

<body>



<h1>This is my Blog.</h1>

<h2>Currently there are {{ blogs.count }} blog post{{ blogs.count|pluralize }}.</h2>

{% for blog in blogs %}

<a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
<h5>{{ blog.date | date:'d M Y'| upper }}</h5>
<p>{{ blog.description | safe | truncatechars:100 }}</p>


{% endfor %}


</body>
</html>

{% endblock %}